@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@700&display=swap');



:root {
    --primary-color: #4CAF50;
    --secondary-color: #ff9800;
    --font-color: #333;
    --background-color: #f0f0f0;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Dosis', serif;
    font-size: 19px;
    background: linear-gradient(135deg, #ffffff, #f0f8ff, #fff5f7, #f5f5ff, #fffef0, #f0fff4, #fff0f5, #ffffff);
    background-size: 600% 600%;
    animation: gradientShift 12s ease infinite;
}
h1, h2, h3 {
    color: var(--dark-pink);
    margin-bottom: 1rem;
}

h2 {
    border-bottom: 3px solid var(--primary-pink);
    padding-bottom: 10px;
    display: inline-block;
}

.container {
    background-image: url('assets/background.jpg'); 
    background-size: cover; 
    background-position: center;
    background-color: rgb(255, 255, 255);
    background-blend-mode: overlay;
    margin: 2rem auto;
    padding: 2.5rem;
    width: 90%;
    max-width: 1100px;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    flex: 1;
}


.crit_section p {
    font-size: 1.2rem;
    line-height: 1.6;
    color: var(--font-color);
    max-width: 800px;
    margin: 0 auto;
}
.navbar {
    background-color: var(--dark-pink);
    padding: 1rem 3.5rem;
    display: block;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
}
.navigation-menu {
    color: white;
    text-decoration: none;
    margin: 0 1rem;
    font-weight: bold;
    transition: color 0.3s;
}
@keyframes gradientShift {
            0% {
                background-position: 0% 50%;
            }
            50% {
                background-position: 100% 50%;
            }
            100% {
                background-position: 0% 50%;
            }
        }